<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link href="/views/app.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
</head>
<style>

</style>
<body>
<div class="container mx-auto flex flex-col items-center justify-center">
    <div class="relative shadow-lg sm:rounded-lg hover:shadow-xl w-full" style="height: max-content;">
        <h2 class="text-xl font-semibold p-2">Single</h2>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr class="text-center text-base">
                    <th scope="col" class="px-6 py-3">
                        No.
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Team
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Wins
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Lost
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total Games
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Score
                    </th>
                </tr>
            </thead>
            <tbody>
                <% single.forEach((user, i) =>{ %>
                <tr class="bg-white border-b text-center text-base">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <%= i + 1 %>
                    </td>
                    <td class="px-6 py-4">
                        <a style="text-decoration: none" href="/users/<%= user.id %>"> <%= user.name %></a>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.wins %>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.lost %>
                    </td>
                    <td class="px-6 py-4 font-semibold">
                        <%= user.totalGames %>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.score %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

<div class="shadow-lg sm:rounded-lg hover:shadow-xl w-full mt-10" style="height: max-content;">
        <select class="rounded-md box-border px-2 cursor-pointer hover:bg-slate-200" name="thisYear" onchange="getResult(this)">
          <option value="null">Select</option>
          <option value="true" <% if (thisYear == "true"){ %> selected <% } %>>This year</option>
          <option value="false" <% if (thisYear == "false"){ %> selected <% } %>>All games</option>
        </select>
        <select class="right-0 rounded-md box-border px-2 cursor-pointer hover:bg-slate-200" name="month" onchange="getResult(this)">
          <option>Select month</option>
          <% var monthNames = [ "January", "February", "March", "April", "May", "June",
"July", "August", "September", "October", "November", "December" ];
          monthNames.forEach((month,i)=> { %>
          <option value="<%= i+1%>" <% if (i+1 == selectedMonth){ %> selected <% } %>><%= month %></option>
          <% }) %>
        </select>
    <h2 class="text-xl font-semibold p-2">Teams</h2>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr class="text-center text-base">
                <th scope="col" class="px-6 py-3">
                    No.
                </th>
                <th scope="col" class="px-6 py-3">
                    Team
                </th>
                <th scope="col" class="px-6 py-3">
                    Wins
                </th>
                <th scope="col" class="px-6 py-3">
                    Lost
                </th>
                <th scope="col" class="px-6 py-3">
                    Total Games
                </th>
                <th scope="col" class="px-6 py-3">
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            <% team.forEach((user, i) =>{ %>
            <tr class="bg-white border-b text-center text-base">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    <%= i + 1 %>
                </td>
                <td class="px-6 py-4">
                <a href="/teams/<%= user.id %>">
                    <%= user.name %>
              </a>
                </td>
                <td class="px-6 py-4 text-green-500 font-semibold">
                    <%= user.wins %>
                </td>
                <td class="px-6 py-4 text-red-600 font-semibold">
                    <%= user.lost %>
                </td>
                <td class="px-6 py-4 font-semibold">
                    <%= user.totalGames %>
                </td>
                <td class="px-6 py-4">
                    <%= user.score %>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>





<div class="w-full flex gap-5 justify-between mt-10">
    <div class="relative overflow-x-auto shadow-lg sm:rounded-lg hover:shadow-xl" style="height: max-content;">
        <h2 class="text-xl font-semibold text-center p-2">All users</h2>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user) =>{ %>
                <tr class="bg-white border-b ">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        <a style="text-decoration: none" href="/users/<%= user.Id %>"> <%= user.Name %></a>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.Id %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div class="flex flex-col text-lg">
        <form class="border box-border p-6 flex flex-col gap-3 rounded-lg shadow-lg hover:shadow-xl" action="/teams/score" method="post">
            <div class="flex justify-between">
                <label class="text-white pr-4 bg-red-900 rounded-lg box-border px-3 p-1 w-3/12 text-center">Team 1</label>
                <select class="flex w-4/12 rounded-md box-border px-2 cursor-pointer hover:bg-slate-200" name="to_po" type="text">
                    <% users.forEach((user) =>{ %>
                        <option value=<%= user.Id %>>
                             <%= user.Name %>
                        </option>
                    <% }) %>
                </select>
                <select class="flex w-4/12 rounded-md box-border px-2 cursor-pointer hover:bg-slate-200" name="to_pt" type="text"/>
                    <% users.forEach((user) =>{ %>
                      <option value=<%= user.Id %>>
                             <%= user.Name %>
                        </option>
                    <% }) %>
                </select>
            </div>
            <div class="flex justify-between">
                <label class="text-white pr-4 bg-blue-900 rounded-lg box-border px-3 p-1 w-3/12 text-center">Team 2</label>
                <select class="flex w-4/12 rounded-md box-border px-2 cursor-pointer hover:bg-slate-200" name="tt_po" type="text"/>
                    <% users.forEach((user) =>{ %>
                      <option value=<%= user.Id %>>
                             <%= user.Name %>
                        </option>
                    <% }) %>
                </select>
                <select class="flex w-4/12 rounded-md box-border px-2 cursor-pointer hover:bg-slate-200" name="tt_pt" type="text"/>
                    <% users.forEach((user) =>{ %>
                      <option value=<%= user.Id %> >
                             <%= user.Name %>
                        </option>
                    <% }) %>
                </select>
            </div>
            <div class="flex justify-between items-center">
                <label class="text-xl pl-[22px]">Result:</label>
                <input class="w-5/12 text-center border border-green-300 rounded-lg p-2 outline-green-400" type="text" name="result" placeholder="9:9"/>
                <button class="bg-green-500 rounded-lg py-2 px-6 text-white cursor-pointer hover:bg-green-600 active:transition-all active:translate-y-1" type="submit">Add</button>
            </div>
            </form>
    </div>
</div>



</div>
</body>

  <script>
    function getResult(e) {
      const urlParams = new URLSearchParams(window.location.search);
      const data = {
        thisYear: urlParams.get('thisYear'),
        month: urlParams.get('month'),
      }
      data[e.name] = e.value;
      const query = new URLSearchParams(data);
      this.location =this.location.origin + '?'+query;
    }
  </script>
</html>
