<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link href="/views/app.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
</head>
<style>

</style>
<body>
<div class="container mx-auto flex flex-col items-center justify-center">

<div class="relative shadow-lg sm:rounded-lg hover:shadow-xl w-full mt-10" style="height: max-content;">
    <h2 class="text-xl font-semibold p-2">Teams</h2>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr class="text-center text-base">
                <th scope="col" class="px-6 py-3">
                    No.
                </th>
                <th scope="col" class="px-6 py-3">
                    Team One
                </th>
                <th scope="col" class="px-6 py-3">
                    Team Two
                </th>
                <th scope="col" class="px-6 py-3">
                    Result
                </th>
                <th scope="col" class="px-6 py-3">
                    Played
                </th>
            </tr>
        </thead>
        <tbody>
            <% team.forEach((user, i) =>{ %>
            <tr class="bg-white border-b text-center text-base">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    <%= i + 1 %>
                </td>
                <td class="px-6 py-4 <% if(names === user.playerOne ) { if(user.result.endsWith('9')) { %> text-red-500 <% } else {%> text-green-500 <%}}%> font-semibold">
                    <%= user.playerOne %>
                </td>
                <td class="px-6 py-4 <% if(names === user.playerTwo){ if (user.result.startsWith('9')) { %> text-red-500 <% } else {%> text-green-500 <%}}%> font-semibold">
                    <%= user.playerTwo %>
                </td>
                <td class="px-6 py-4">
                    <%= user.result %>
                </td>
                <td class="px-6 py-4">
                    <%= user.created_at.toGMTString() %>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</div>
</body>
</html>
